{%extends 'root/base.html'%}

<!-- Page Header-->
{%block header%}<header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Idea behind.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>{%endblock%}
<!-- Main Content-->
{%block content%}<main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7"><hr>
                        <p>Welcome to my corner of the web! 🚀 I'm Mohammad Ehson, the mind behind DIT Placement Helper. As a student navigating the chaotic waters of campus placements, I've experienced firsthand the challenges of keeping track of numerous application deadlines and eligibility criteria. Too often, I found myself missing out on opportunities simply because I forgot to fill out a form or lost track of important details amidst the hustle and bustle of college life.</p>

                            <p> Determined to simplify this process for myself and fellow students, I embarked on a mission to develop a solution that not only streamlines the campus placement process but also empowers students to take control of their opportunities. And thus, [Website Name] was born.</p>
                            
                            <p>At DIT Placement Helper, we offer a comprehensive platform designed to revolutionize the way students approach campus placements. Our web application not only provides a centralized hub for listing upcoming placement opportunities but also offers powerful tracking features to ensure that no application falls through the cracks. With our intuitive interface, you can effortlessly monitor the status of applications you've filled and track your eligibility for various drives.</p>
                            
                            <p>But DIT Placement Helper is more than just a tool for managing applications – it's a gateway to unlocking your full potential. By empowering students with valuable insights and resources, we aim to level the playing field and pave the way for success in the competitive world of campus placements.</p>
                             <hr>
                            <p>Join us on this journey of empowerment and opportunity. Together, let's navigate the path to your dream career, one application at a time. 🌟🎓💼🔍</p>
                       </div>
                </div>
            </div>
        </main>{%endblock%}
<!-- Footer-->
