{%extends 'root/base.html'%}
{%block header%} <header class="masthead" style="background:smoke-white">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="site-heading">
                
        </div>
        </div>
    </div>
</header>{%endblock%}
{%block content%}

<div class="side-menu">
    <ul>
        <li><a href="{%url 'jobs:default_list'%}">All</a></li>
        <hr/>
        <li><a href="{%url 'jobs:list' category='saved'%}">Saved Jobs</a></li>
        <hr/>
        <li><a href="{%url 'jobs:list' category='applied' %}">Applied</a></li>
        <hr/>
        <li><a href="{%url 'jobs:list' category='eligible' %}">Eligible</a></li>
        <hr/>
        <li><a href="{%url 'jobs:list' category='archived' %}">Archived</a></li>
        <hr/>
    </ul>
</div>
<div class="center-content">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
        
    <div class="scrollview">
    {% comment %} {% for i in "x"|rjust:"100" %} {% endcomment %}
    {%for job in job_list%}
    
    <div class="content-container">
        <div class="drive">
          
            
            <h2>{{job.organization }} </h2>
            <div class="drive-details">
                <p>Date:</p>
                <p>{{job.date}}</p>
                <p>Location:</p>
                <p>{{job.location}}</p>
                <p>Eligibility:</p>
                <p class="parameter">{{job.eligibility}}</p>
                
                <p>Minimum CGPA:</p>
                <p class="cgpa">{{job.cgpa}}</p>
                <p>Salary:</p>
                <p class="salary">{{job.salary}}</p>
            </div>
            <form action="{% url 'jobs:save_view' job.id %}" method="post">
                {% csrf_token %}
                <button type="submit" value="submit" class="save-button">
                    
                    {% if request.path == '/jobs/saved/'%} Unsave
                    {%else%} Save
                    {% endif%}
                    

                </button>
            </form>
            <form action="{% url 'jobs:apply_view' job.id %}" method="post">
                {% csrf_token %}
                <button type="submit" value="submit" class="apply-button">
                    Apply
                </button>
            </form>
        </div>
        </div>
    
        {%endfor%}
        {% comment %} {%endfor%} {% endcomment %}
    </div>
</div>
    {%endblock%}